body{
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #fff;
background-image: url('img/casino_green.jpg');
font-size: 20px;
font-weight: bold;
}


h1{
    color: goldenrod;
}


#message-el{
font-style: italic;
}

button{
    color: #016f32;
    width: 200px;
    background: goldenrod;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}